<div class="table-header">
  <ng-container *ngFor="let headerCell of tableHeader$ | async; index as columnIndex">
    <div class="table-cell header-cell"
         [ngStyle]="{ 'width.px': setCellWidth(columnIndex) }"
         (click)="sortData(columnIndex)">
      <span class="header-text">{{ headerCell }}</span>
      <div class="header-icon-container">
          <span *ngIf="currentSort.column === headerCell" class="sort-icon">
            <i class="fas fa-sm"
               [ngClass]="currentSort.direction === 'asc' ? 'fa-chevron-up' : currentSort.direction === 'desc'?'fa-chevron-down':''">
            </i>
          </span>
        <span (click)="onFilterIconClick($event, columnIndex)">
            <i class="fas fa-filter fa-sm filter-icon"></i>
          </span>
      </div>
      <input #filterInput
             *ngIf="columnIndex===(columnForFilter |async)"
             class="filter-input"
             [ngStyle]="{ 'width.px': setInputWidth(columnIndex, filterInput) }"
             type="text"
             (keyup)="onFilterColumn($event)"
             (click)="filterInputClick($event, columnIndex)"
      (blur)="onFilterInputBlur()">
      <div class="separator" *ngIf="columnIndex !== headerLength"></div>
    </div>
  </ng-container>
</div>
