<form class="filter-form" *ngIf="columnIndex===(columnSignal())">
  <input #filterInput
         placeholder="Contains..."
         class="filter-input"
         type="text"
         [ngStyle]="{ 'width.px': setInputWidth(columnIndex, filterInput) }"
         (keyup)="onFilterColumn($event,FilterType.Contains)"
         tabindex="1">
  <input #filterInput1
         placeholder="Starts with..."
         class="filter-input start-with"
         type="text"
         (keyup)="onFilterColumn($event,FilterType.StartWith)"
         [ngStyle]="{ 'width.px': setInputWidth(columnIndex, filterInput1) }"
         tabindex="2">
  <input #filterInput2
         placeholder="Ends with..."
         class="filter-input ends-with"
         type="text"
         (keyup)="onFilterColumn($event,FilterType.EndWith)"
         [ngStyle]="{ 'width.px': setInputWidth(columnIndex, filterInput2) }"
         tabindex="3">
  <input #filterInput3
         placeholder="Not contains..."
         class="filter-input ends-with"
         type="text"
         (keyup)="onFilterColumn($event,FilterType.NotContains)"
         [ngStyle]="{ 'width.px': setInputWidth(columnIndex, filterInput3) }"
         tabindex="3">
</form>
