<form class="filter-form" *ngIf="columnIndex===(columnSignal())">
  <input
    placeholder="Contains..."
    class="filter-input"
    type="text"
    [ngStyle]="{ 'width.px': setInputWidth(columnIndex) }"
    (keyup)="onFilterColumn($event,FilterType.Contains)"
    tabindex="1">
  <input
    placeholder="Starts with..."
    class="filter-input start-with"
    type="text"
    (keyup)="onFilterColumn($event,FilterType.StartWith)"
    [ngStyle]="{ 'width.px': setInputWidth(columnIndex) }"
    tabindex="2">
  <input
    placeholder="Ends with..."
    class="filter-input ends-with"
    type="text"
    (keyup)="onFilterColumn($event,FilterType.EndWith)"
    [ngStyle]="{ 'width.px': setInputWidth(columnIndex) }"
    tabindex="3">
  <input
    placeholder="Not contains..."
    class="filter-input ends-with"
    type="text"
    (keyup)="onFilterColumn($event,FilterType.NotContains)"
    [ngStyle]="{ 'width.px': setInputWidth(columnIndex) }"
    tabindex="3">
</form>
