@if (columnInitializer.movableRows) {
  <div *ngIf="hasData$ | async" class="table-body"
       cdkDropList
       [cdkDropListData]="tableRows$ | async"
       (cdkDropListDropped)="drop($event)">
    <div *ngFor="let row of tableRows$ | async; index as rowIndex"
         class="table-row {{setSelectedRowStyle(rowIndex)}}"
         cdkDragLockAxis="y"
         cdkDragBoundary=".table-body"
         cdkDrag>
      <div class="drag-handle" cdkDragHandle>
        <i class="fas fa-arrows-alt-v"></i>
      </div>
      <div *ngFor="let cell of row; index as cellIndex"
           class="table-cell"
           (click)="setSelectedRow(rowIndex)"
           [ngStyle]="{ 'width.px': setCellWidth( cellIndex) }">
        {{ cell }}
      </div>
    </div>
  </div>
} @else {
  <div *ngIf="hasData$ | async" class="table-body">
    <div *ngFor="let row of tableRows$ | async; index as rowIndex"
         class="table-row {{setSelectedRowStyle(rowIndex)}}">
      <div *ngFor="let cell of row; index as cellIndex"
           class="table-cell"
           (click)="setSelectedRow(rowIndex)"
           [ngStyle]="{ 'width.px': setCellWidth( cellIndex) }">
        {{ cell }}
      </div>
    </div>
  </div>
}

